body{
    font-family: 'Inter', sans-serif;
    color: black;
    padding-top: 74px;
}

/* Header */
.navbar-brand{
    font-weight: 700;
    font-size: 24pt;
    margin-left: 50px;
}
.offcanvas-title{
    font-weight: bold;
    font-size: 24pt;
}
.offcanvas-body{
    text-align: center;
}
.page{
    font-size: 16pt;
}

/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
}
footer p{
    font-size: clamp(12px, 2vw, 16px);
    color:white;
    padding: 0;
    margin: 0;
}
